<script>
	import PodcastPlayer from './podcastPlayer.svelte';
	import Profile from './profile.svelte';
</script>

<div class="max-w-4xl flex items-center h-auto  flex-wrap mx-auto my-32 lg:my-0">
	<!--Main Col-->
	<Profile />
	<div class="contents">
		<PodcastPlayer />
	</div>
	<div class="mb-10 rss ">
		<h4 class="text-lg rounded-lg underline feed">
			<a href="http://feed.nashownotes.com/catkrss.xml">Podcast Feed</a>
		</h4>
	</div>
</div>

<style>
	.rss {
		display: flex;

		justify-content: center;
		width: 100%;
	}
	.feed {
		background: #0c1824;
		opacity: 80%;
		color: #f7f8f9;
		padding: 0rem 0.75rem 0.1rem 0.75rem;
		text-align: center;
		align-content: center;
	}
</style>
