<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Curry and the Keeper</title>
	<meta name="author" content="name" />
	<meta name="description" content="description here" />
	<meta name="keywords" content="keywords,here" />
	<!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" /> -->
	<!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" /> -->
	<!--Totally optional :) -->
</head>
<body class="bg-gray-400 font-sans leading-normal tracking-normal">
	<nav class="flex items-center justify-between flex-wrap bg-gray-800 p-4 fixed w-full z-10">
		<div class="flex-1 items-center flex-shrink-0 text-white">
			<a class="text-white no-underline hover:text-white hover:no-underline" href="#!">
				<span class="text-4xl pl-4 "><img class="em w-auto" src="catk.svg" alt="catk" /></span>
			</a>
		</div>

		<div class="block lg:hidden">
			<button
				id="nav-toggle"
				class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white"
			>
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
					><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg
				>
			</button>
		</div>

		<div
			class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0"
			id="nav-content"
		>
			<ul class="list-reset lg:flex justify-end flex-1 items-center">
				<li class="mr-3">
					<a class="inline-block py-2 px-4 text-white no-underline" href="#!">Donate</a>
				</li>
				<li class="mr-3">
					<a
						class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
						href="http://adam.curry.com/html/NoAgendaStreamandCha-1414965812.html"
						target="_blank">No Agenda</a
					>
				</li>
				<li class="mr-3">
					<a
						class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
						href="#!">About</a
					>
				</li>
				<li class="mr-3">
					<a
						class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
						href="https://podcastindex.org/apps"
						target="_blank"
						>Podcasting 2.0
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<!--Container-->
	<div class="container shadow-lg mx-auto bg-white mt-24 md:mt-18" />

	<script>
		//Javascript to toggle the menu
		document.getElementById('nav-toggle').onclick = function () {
			document.getElementById('nav-content').classList.toggle('hidden');
		};
	</script>
</body>

<style>
	.em {
		/* height: 1.5em; */
		width: auto;

		/* background-position: center; */
		/* background-repeat: no-repeat; */
		/* background-size: contain; */
		display: inline-block;
		/* vertical-align: middle; */
	}
</style>
