<div
	id="profile"
	class=" w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-90 mx-6 lg:mx-0 m-8"
>
	<div class="p-4 md:p-12 text-center lg:text-left">
		<!-- Image for mobile view-->
		<div
			class="self-start block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
			style="background-image: url('../static/christmas.jpeg')"
		/>
		<img class="w-1/2" src="catkbitcoin.png" alt="" />
	</div>
</div>

<!--Img Col-->
<div class="w-full lg:w-2/5">
	<!-- Big profile image for side bar (desktop) -->
	<img
		src="christmas.jpeg"
		class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block"
		alt="christmas time"
	/>
</div>
