<script>
	import Header from '$lib/header.svelte';
	import Footer from '$lib/footer.svelte';
	import '../tailwind.css';
</script>

<div class="flex flex-col">
	<Header />
	<main class="flex-1 ">
		<slot />
	</main>
	<Footer />
</div>

<style>
	main {
		background-color: whitesmoke;
	}
</style>
