<script>
	import Body from '$lib/body.svelte';
</script>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Curry and the Keeper</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Font Awesome if you need it -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />

	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
	<!--Replace with your tailwind.css once created-->
</head>

<body
	class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover"
	style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/b/b3/Wineries_Hwy_99.jpg');"
>
	<Body />

	<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tippy.js@4"></script>
	<script>
		//Init tooltips
		tippy('.link', {
			placement: 'bottom'
		});

		//Toggle mode
		const toggle = document.querySelector('.js-change-theme');
		const body = document.querySelector('body');
		const profile = document.getElementById('profile');
	</script>
</body>
