<script>
	import PodcastPlayer from '$lib/podcastPlayer.svelte';
</script>

<div class="grid  h-screen">
	<div>
		<h1 class="text-4xl m-8 text-center">Welcome to Curry & The Keeper</h1>
		<h2 class="text-2xl m-8 text-center">Uniquely American, unapologetically in love</h2>
	</div>
	<div class="grid grid-cols-3 ">
		<div class="justify-self-center grid text-center self-center">
			<h3 class="self-center text-xl">Tina and Adam Curry Discuss Life, Love and Wine.</h3>
			<div class="justify-self-center grid">
				<img
					class="rounded-2xl w-1/2 p-2 h-auto justify-self-center"
					src="christmas.jpeg"
					alt="adam and tina in front of a christmas tree"
				/>
			</div>
		</div>
		<div class="m-10 col-span-2">
			<PodcastPlayer />
		</div>
	</div>
	<div class="text-center m-8 justify-self-center grid">
		<h3 class="m-4 text-xl">Donate to the Hill Country</h3>
		<img src="catkbitcoin.png" alt="" />
	</div>
	<!-- </div> -->
</div>
